@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Julee&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Gulzar&family=Julee&family=Source+Sans+Pro&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
@media screen and (max-width:673px){
    .main-content{
    grid-template-columns:repeat(1,1fr);
}
}
@media screen and (min-width:674px){
    .main-content{
    grid-template-columns:300px 700px;
}
}
.main-content{
    display: grid;
    min-height: 1000px;
/*     grid-template-columns: 300px 700px; */
    width: 90%;
    justify-content: center;
}
body{
    font-family: 'Comic Neue', cursive;
    font-family: 'Julee', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: darkgrey;
   
    
    align-items: center;
}
.left-section{
    background-color: rgb(23, 67, 80);
    grid-column:span 1;
}
.right-section{
    background-color: rgb(255, 255, 255);
    grid-column:span 1/ span 2;
}
.left-content{
    padding: 1rem;
}
.profile-details{
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}
.profile-image{
display: block;
margin: auto;
border: 5px white solid;
border-radius: 30%;
width: 60%;
max-width: 100%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.8rem;
    letter-spacing: 0.02px;
    text-align: center;
    text-transform: none;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: None;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.contact-item{
    color: white;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    font-size: 1rem;
   
    
}
.media{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.icon{
    color: white;
}
.skill{
    margin-bottom: 0.25rem;
    font-size: 1rem;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: none;
    padding: 1rem 0.5rem;
    color: white;
}
.skill-name{
    font-size: 0.65rem;
    text-align: left;
    padding: 0.5rem;
}
.progress-bar{
    border: 1px solid white
    height: 4px;
    border-radius: 6px;
    width: 90%;
    

}

.right-main-content{
    padding: 2rem 3rem; 
}
.right-title{
    text-transform:none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
    font-family: 'Comic Neue', cursive;
    color: rgb(11, 45, 56);
    
}
.right-details li { 
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    color: rgb(11, 45, 56);;
    list-style-type: disc ;

}
.project{
    color: rgb(11, 45, 56);;
    font-size: 1.2 rem;
}